<div class="admin-panel-cards row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">User Management</div>
            <div class="card-body">
                <a href="/Admin/Users" class="btn btn-primary w-100 mb-2">Manage Users</a>
                <a href="/Admin/CreateUser" class="btn btn-outline-secondary w-100">Add New User</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Site Management</div>
            <div class="card-body">
                <a href="/Sites/Index" class="btn btn-primary w-100 mb-2">Manage Sites</a>
                <a href="/Sites/Create" class="btn btn-outline-secondary w-100">Add New Site</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">System</div>
            <div class="card-body">
                <a href="/Admin/AdminLogs" class="btn btn-warning w-100 mb-2">View Logs</a>
                <a href="/Admin/Settings" class="btn btn-outline-info w-100">System Settings</a>
            </div>
        </div>
    </div>
</div>
