@model IEnumerable<UniversalDashboard.Models.SiteConnection>
@{
    ViewData["Title"] = "Connected Sites";
}
<h2>Connected Sites</h2>
<a class="btn btn-success mb-3" href="/Sites/Create">Add New Site</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>API URL</th>
            <th>API Key</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var site in Model)
        {
            <tr>
                <td>@site.Name</td>
                <td>@site.ApiUrl</td>
                <td>@site.ApiKey</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Sites/Edit/@site.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Sites/Delete/@site.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
